@import '../../../config.scss/rem-calc.scss';
$padding: rem-calc(20);
:host{
.listagem{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;

  .pokemon{
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    height: rem-calc(157 - 40);
    display: flex;
    width: calc(49% - 2.5rem);
    background: var(--branco);
    margin-bottom: rem-calc(10);
    padding: $padding ;
    border-radius: rem-calc(10);

    &_status{
      h2{
        text-transform: capitalize;
        font-size: rem-calc(22);
        font-style: italic;
        font-weight: 700;

        margin-bottom:rem-calc(10) ;
      }
      ul{
        display: flex;
        flex-direction: column;

        li{
          background: var(--cinza);
          font-size: rem-calc(10);

          display: flex;
          justify-content: center;
          align-items: center;
          width: rem-calc(60);
          border-radius: rem-calc(50);
          margin-bottom: rem-calc(5);
        }
      }
    }
    &_image{
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      height: rem-calc(90);
      width: rem-calc(110);
      bottom:rem-calc(20);
      right: rem-calc(20);

      background: url("../../../assets/background-list-pokemon.svg") no-repeat;

      img{
        width: rem-calc(70);
      }
    }
  }
}
}
